.main{
    display: flex;
    flex-direction: column;
    height: 100%;

    background-color: #F0EEE2;
    color: #4a3222;
    padding: 0 20px;
}

.welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;

    >img{
        height: 100px;
    }

    >button{
        background-color: #28acec;
        color: white;
        font-weight: bold;
        padding: 10px 20px;
        border: none;
        border-radius: 25px;
        box-shadow: 0 0 10px #00000089;
        cursor: pointer;
    }
}

.bookSearchField{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FDFCF7;
    border-radius: 7px 7px 0 0;
    padding: 20px 20px 0;
}

.titleBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    >h2{
        padding: 20px;
    }

    >button{
        background-color: #28acec;
        color: white;
        font-weight: bold;
        padding: 10px 20px;
        border: none;
        border-radius: 25px;
        box-shadow: 0 0 10px #00000089;
        cursor: pointer;
    }
}

.books{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    width: fit-content;
    padding: 20px;
}