.icon{
    margin-bottom: 5px;
    margin-left: 1rem;
}

.searchbar{
    border: 0;
    border-bottom: 1px solid #ccc;
    padding: 3px 5px 3px 32px;
    width: 350px;
    outline: 0;
    opacity: .7;
    margin-left: -25px;
    background-color: #F0EEE2;

    &:focus{
        border-bottom: 1px solid #333;
    }
}