:root{
    --bookContainerSize:130px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.right-side{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.content{
    flex: 1;
    overflow-y: scroll;
}