.book{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    width: 105px;
    height: 139px;
    background-image: url("/images/book.png");
    background-size: cover;
}

.cover{
    width: 94px;
    height: 129px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}